# Oracle 설치

- Oracle 다운로드
  - https://www.oracle.com/kr/database/technologies/oracle-database-software-downloads.html
  - Download Oracle Database XE for Windows(ZIP) 버튼을 클릭하여 다운로드

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_download.png" width=50%>
</center>

- Oracle 설치
  - 압축을 풀고 setup.exe 파일을 실행하여 설치
    - 설치 폴더 설정
    - 접속 패스워드 설정
    - TNS Listener 허용 (TNSLSNR.exe)
      - 한 시스템에 오라클DB가 여러개 설치가 되어있는 경우 외부에서 접속을 하면 TNS Listener는 SID값을 가지고 어느 오라클DB로 접속시킬지 중개하는 역할
    - Java(TM) Platform SE binary 액세스 허용
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install01.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install02.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install03.png" width=30%>
</center>    
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install04.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install05.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install06.png" width=30%>
</center>   
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install07.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install08.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install09.png" width=30%>
</center>

- CMS창에서 Oracle 실행
  - CMD 창에서 sqlplus 명령어를 실행
  - user name은 system으로 password는 설치때 설정한 암호를 입력

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_execute001.png" width=50%>
</center>

- Oracle SQL Developer 다운로드
  - https://www.oracle.com/database/sqldeveloper/technologies/download/ 에서 Oracle SQL Developer 다운로드  

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer001.png" width=50%>
</center>

- Oracle SQL Developer의 압축을 풀고 sqldeveloper.exe 실행하여 설치 후 실행

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer002.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer003.png" width=20%>
</center>

- \+ 아이콘을 클릭

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer004.png" width=50%>
</center>

- 접속정보를 입력하고 접속 버튼을 클릭
  
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer005.png" width=40%>
</center>
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer006.png" width=40%>
</center>

# Oracle DB에 접속하기

- Python에서 Oracle Database 에 접속해서 DB 작업을 할 수 있도록 도와주는 라이브러리에 cx_Oracle과 python-oracledb 가 있음

- cx_Oracle 라이브러리의 구조
  - 반드시 cx_Oracle을 사용하는 파이썬 프로그램이 돌아가는 서버에 Oracle Client가 설치되어 있어야 함

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_python-cxoracle_arch.png" width=40%><br><font size=1>참고 : https://cx-oracle.readthedocs.io</font>
</center>

- python-oracledb 라이브러리
  - cx_Oracle의 업그레이드 버전 : 기능 추가
  - 참고 : https://python-oracledb.readthedocs.io/en/latest/user_guide/installation.html
  - thin 모드와 thick 모드 지원
    - thin 모드 : 서버에 Oracle Client가 없어도 됨
      - DB Startup/Stop, TAF기능사용, BFILE Type 지원, 21c JSON Data Type 지원, 2PC 등의 기능을 사용할 수 없음
    - thick 모드 : 서버에 Oracle Client가 있어야 됨

  - oracledb.init_oracle_client()가 들어가면 thick 모드로 동작
  
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_python-oracledb-arch.png" width=40%><br><font size=1>참고 : https://cx-oracle.readthedocs.io</font>
</center><br>

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_python-oracledb-arch2.png" width=40%><br><font size=1>참고 : https://cx-oracle.readthedocs.io</font>
</center>

- 라이브러리 설치

In [2]:
!pip install cx_Oracle

Collecting cx_Oracle
  Using cached cx_Oracle-8.3.0.tar.gz (363 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: cx_Oracle
  Building wheel for cx_Oracle (pyproject.toml): started
  Building wheel for cx_Oracle (pyproject.toml): finished with status 'done'
  Created wheel for cx_Oracle: filename=cx_Oracle-8.3.0-cp311-cp311-win_amd64.whl size=223896 sha256=ff63175d45f1fded6cab88940c96bee529eb4811b51770832224a51b27aa47b7
  Stored in directory: c:\users\smhrd\appdata\local\pip\cache\wheels\e0\41\f9\63e9c4d1ec7b2e8faffc1d6f3219c2e168c306b042d77e2b6f
Successfully built cx_Oracle
Installing collected packages: cx_Oracle
Successfully installed cx_Oracle-8.3.0

- 설치오류가 뜨는 경우
  - https://visualstudio.microsoft.com/visual-cpp-build-tools/ 에서 Build Tool 다운로드
  - Build Tool을 실행
  - C++를 사용한 데스크톱 개발을 선택하고 설치 버튼을 클릭하여 설치
  
  
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_buildtool.png" width=40%>
</center>  
  
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_buildtool_02.png" width=40%>
</center>  

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_buildtool_03.png" width=40%>
</center>  
    
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_buildtool_04.png" width=80%>
</center>

- 오라클 접속하기

In [3]:
import cx_Oracle
#실습

## DPI-1047: Cannot locate a 64-bit Oracle Client library 오류가 뜨는 경우

- Windows
  - https://www.oracle.com/database/technologies/instant-client/winx64-64-downloads.html 에서 오라클 클라이언트 라이브러리를 다운로드
  - 압축을 해제하고 C/IC21 폴더로 instantclient_xx_xx 폴더를 이동

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_python-cxoracle_window.png" width=50%>
</center>  

- Linux
  - https://www.oracle.com/database/free/get-started/ 에서 오라클 클라이언트 라이브러리를 다운로드
   - 설정 : https://docs.oracle.com/en/database/oracle/oracle-database/23/lacli/install-instant-client-using-zip.html#GUID-D3DCB4FB-D3CA-4C25-BE48-3A1FB5A22E84

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_python-cxoracle_linux.png" width=50%>
</center>

- 오라클 instant client 등록

In [2]:
# 문제가 생겼을 때!
# cx_Oracle.init_oracle_client(lib_dir=r"C:\IC21\instantclient_21_11")

- 오라클 DB 연동하기

In [9]:
import cx_Oracle

user_name = 'hr'
password = '12345'
# DB IP 주소 : 포트 / DB명
dsn = '127.0.0.1:1521/xe'

# DB에 연결
# 예외처리 : 사용할 때 발생할 가능성이 있는 오류를 처리하는 것
# try : 오류가 발생할 가능성이 있는 문장
try : 
    # connect : user_name, password, dsn 정보를 이용해 DB에 접속
    conn = cx_Oracle.connect(user_name, password, dsn)
    print('DB 연결 성공')
# except : 오류가 발생하면 실행할 문장
# 오류가 발생하면 해당 오류 메시지를 출력
except cx_Oracle.DatabaseError as e: 
    print('Error : ', e)

DB 연결 성공

# 데이터 입력, 수정, 삭제, 검색

- 커서 객체 생성하기
    - Cursor 객체 
        - 사용자가 입력한 SQL문을 DB로 전달해서 실행
        - 실행한 SQL문의 결과를 반환하는 기능

In [10]:
cur = conn.cursor()

- DB 관련 함수들을 모듈로 저장
- %%writefile : 아래에 있는 내용을 설정된 파일에 저장
    - 주의점 : 이 명령 위쪽에는 어떠한 명령도 있으면 안 됨

In [2]:
%%writefile DB_Control.py
import cx_Oracle

# ★★이 셀을 수정하고 나면 실행한 후 Kernel Restart 꼭 해주기!!!★★

# DB 연결 및 커서 생성 함수
def db_conn() : 
    user_name = 'hr'
    password = '12345'
    dsn = '127.0.0.1:1521/xe'

    try : 
        conn = cx_Oracle.connect(user_name, password, dsn)
        cur = conn.cursor()
        print('DB 연결 성공')
        
        # 연결 객체, 커서 객체를 반환
        return conn, cur
    except cx_Oracle.DatabaseError as e: 
        print('Error : ', e) 
        
# 테이블 생성 함수
def create_tbl(conn, cur) : 
    query = '''create table flask_table (
        code varchar(10) primary key,
        name varchar(10) not null,
        age integer not null)'''
    
    try : 
        # 쿼리문을 DB로 전송해서 실행
        # 커서를 통해서 실행 성공 유무를 반환 (실패 시 -1을 반환)
        cur.execute(query)
        
        # 실행결과를 DB에 반영
        conn.commit()
        print('테이블 생성 완료')
    except cx_Oracle.DatabaseError as e : 
        print('Error : ', e)
        
# 테이블에 데이터를 저장하는 함수
def insert_tbl(conn, cur, code, name, age) : 
    # 입력된 값들을 딕셔너리로 생성
    input_data = {'code' :code, 'name' :name, 'age' :age}
    
    # 딕셔너리값의 키 값을 쿼리문에 설정해서 쿼리문을 생성
    query = 'insert into flask_table values (:code, :name, :age)'
    
    try : 
        # 딕셔너리 값을 query문에 할당해서 DB로 전송하고 실행
        cur.execute(query, input_data)
        
        conn.commit()
        print('테이블 저장 완료')
    except cx_Oracle.DatabaseError as e : 
        print('Error : ', e)

# 테이블의 데이터 전체를 검색하는 함수
def search_all_tbl(conn, cur) :
    query = 'select * from flask_table'
    
    try : 
        cur.execute(query)

        # 커서 객체에서 반환된 값을 받는다
        # fetchall() : 전체데이터를 받는다 fetch-all
        # fetchone() : 하나의 데이터를 받는다 fetch -one
        row = cur.fetchall()
        
        return row
    except cx_Oracle.DatabaseError as e : 
        print('Error : ', e)
        

# 테이블의 조건에 맞는 code를 기준으로 검색하는 함수
def search_tbl(conn, cur, code) :
    input_data = {'code':code}
    
    query = 'select * from flask_table where code =:code'
    
    try : 
        cur.execute(query, input_data)
        row = cur.fetchall()
        
        return row
    except cx_Oracle.DatabaseError as e : 
        print('Error : ', e)

# 업데이트 함수
def update_tbl(conn, cur, code, name, age) : 
    query = f'update flask_table set name='{name}', age ={age} where code='{code}''
    
    # 위와 동일하게 input 함수를 사용한다면?
    # input_data = {'code':code, 'name':name, 'age':age}
    # query = 'update flask_table set name =:name, age =:age, where code=:code'
    
    try : 
        cur.execute(query)
        # cur.execute(query, input_data)
        
        conn.commit()
        print('테이블 수정 완료')
    except cx_Oracle.DatabaseError as e : 
        print('Error : ', e)
    
# 삭제 함수
def delete_tbl(conn, cur, code) :
    # (1) 파라미터로 받은 데이터를 딕셔너리로 만든다
    input_data = {"code":code}
    
    # (2) query 문을 정의 - 콜론:변수명 형태로 딕셔너리의 키 값 위치를 설정
    query = "delete from flask_table where code=:code"
    
    # (3) 예외처리
    try :
        # (4) execute()로 쿼리를 전송해 실행, 딕셔너리 할당
        cur.execute(query, input_data)
        
        # (5) 실행 결과를 DB에 반영
        conn.commit()
        print("데이터 삭제 완료")
    except cx_Oracle.DatabaseError as e :
        print("Error : ", e)  
        
# DB 연결 종료 함수
def disconn(conn, cur) :
    pass

Overwriting DB_Control.py

- 모듈 호출하기

In [1]:
import DB_Control as dc

# DB 연결
conn, cur = dc.db_conn()

# 테이블 생성
# dc.create_tbl(conn, cur)   <-- 재실행 하면 오류 뜨기 때문에 한번 실행한 후 주석처리

# 데이터 저장
# dc.insert_tbl(conn, cur, 'A100', '홍길동', 23)
# dc.insert_tbl(conn, cur, 'A200', '마당쇠', 45)
# dc.insert_tbl(conn, cur, 'A300', '성춘향', 18)
# dc.insert_tbl(conn, cur, 'A400', '이몽룡', 23)
# dc.insert_tbl(conn, cur, 'A500', '변학도', 33)

# 전체 데이터 검색
row = dc.search_all_tbl(conn, cur)
display(row)

# 조건에 맞는 데이터 검색
row = dc.search_tbl(conn, cur, 'A400')
display(row)

# 코드가 A200인 데이터 name을 김유신, age를 50으로 변경
dc.update_tbl(conn, cur,'A200', '김유신', 50)
row = dc.search_tbl(conn, cur, 'A400')
display(row)

SyntaxError: invalid syntax (DB_Control.py, line 89)

- 테이블 생성하기

In [15]:
#실습

- 생성한 테이블 목록보기

In [29]:
#실습

[('MEMBER_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT')]

- DB에 데이터 저장하기

In [27]:
#실습

코드 : A300
이름 : 김유신
나이 : 45
직업 : 장군
주소 : 경주
입력 완료

- DB에서 원하는 테이블의 전체 데이터 가져오기

In [31]:
#실습

[('A100', '홍길동', 23, '의적', '장성'),
 ('A200', '이순신', 34, '장군', '여수'),
 ('A300', '김유신', 45, '장군', '경주')]

- DB에서 원하는 테이블의 데이터를 키워드로 검색하기

In [38]:
#실습

검색할 코드 : A100

[('A100', '홍길동', 23, '의적', '장성')]

- 데이터 변경하기

In [41]:
#실습

변경할 코드 : A100
변경할 이름 : 홍길동
변경할 나이 : 33
변경할 직업 : 의적
변경할 주소 : 장성
변경 완료

[('A100', '홍길동', 33, '의적', '장성'),
 ('A200', '이순신', 34, '장군', '여수'),
 ('A300', '김유신', 45, '장군', '경주')]

- 데이터 삭제하기

In [42]:
#실습

삭제할 코드 : A100
삭제 완료

[('A200', '이순신', 34, '장군', '여수'), ('A300', '김유신', 45, '장군', '경주')]

- 접속종료

In [ ]:
#실습

# 모듈로 제작하기 - 클래스를 안 배운 경우

In [1]:
#실습

Overwriting DB_Control.py

In [2]:
#실습

접속 완료

In [3]:
#실습

코드 : 1
이름 : 1
나이 : 1
직업 : 1
주소 : 1
insert into member_tbl values (:code,:name,:age,:job,:addr)
입력 완료

In [3]:
#실습

[('A200', '이순신', 34, '장군', '여수'), ('A100', '홍길동', 23, '의적', '장성'), ('1', '1', 1, '1', '1')]

In [5]:
#실습

코드 : A200
[('A200', '이순신', 34, '장군', '여수')]

In [5]:
#실습

코드 : 1
이름 : 3
나이 : 3
직업 : 3
주소 : 3
update member_tbl set name=:name,age=:age,job=:job,addr=:addr where code='1'
변경 완료
[('A200', '이순신', 34, '장군', '여수'), ('A100', '홍길동', 23, '의적', '장성'), ('1', '3', 3, '3', '3')]

In [3]:
#실습

코드 : 1
삭제 완료
[('A200', '이순신', 34, '장군', '여수'), ('A100', '홍길동', 23, '의적', '장성')]

In [4]:
#실습

접속 종료