# Oracle 설치

- Oracle 다운로드
  - https://www.oracle.com/kr/database/technologies/oracle-database-software-downloads.html
  - Download Oracle Database XE for Windows(ZIP) 버튼을 클릭하여 다운로드

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_download.png" width=50%>
</center>

- Oracle 설치
  - 압축을 풀고 setup.exe 파일을 실행하여 설치
    - 설치 폴더 설정
    - 접속 패스워드 설정
    - TNS Listener 허용 (TNSLSNR.exe)
      - 한 시스템에 오라클DB가 여러개 설치가 되어있는 경우 외부에서 접속을 하면 TNS Listener는 SID값을 가지고 어느 오라클DB로 접속시킬지 중개하는 역할
    - Java(TM) Platform SE binary 액세스 허용
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install01.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install02.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install03.png" width=30%>
</center>    
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install04.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install05.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install06.png" width=30%>
</center>   
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install07.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install08.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_install09.png" width=30%>
</center>

- CMS창에서 Oracle 실행
  - CMD 창에서 sqlplus 명령어를 실행
  - user name은 system으로 password는 설치때 설정한 암호를 입력

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_execute001.png" width=50%>
</center>

- Oracle SQL Developer 다운로드
  - https://www.oracle.com/database/sqldeveloper/technologies/download/ 에서 Oracle SQL Developer 다운로드  

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer001.png" width=50%>
</center>

- Oracle SQL Developer의 압축을 풀고 sqldeveloper.exe 실행하여 설치 후 실행

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer002.png" width=30%><img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer003.png" width=20%>
</center>

- \+ 아이콘을 클릭

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer004.png" width=50%>
</center>

- 접속정보를 입력하고 접속 버튼을 클릭
  
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer005.png" width=40%>
</center>
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_developer006.png" width=40%>
</center>

# Oracle DB에 접속하기

- Python에서 Oracle Database 에 접속해서 DB 작업을 할 수 있도록 도와주는 라이브러리에 cx_Oracle과 python-oracledb 가 있음

- cx_Oracle 라이브러리의 구조
  - 반드시 cx_Oracle을 사용하는 파이썬 프로그램이 돌아가는 서버에 Oracle Client가 설치되어 있어야 함

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_python-cxoracle_arch.png" width=40%><br><font size=1>참고 : https://cx-oracle.readthedocs.io</font>
</center>

- python-oracledb 라이브러리
  - cx_Oracle의 업그레이드 버전 : 기능 추가
  - 참고 : https://python-oracledb.readthedocs.io/en/latest/user_guide/installation.html
  - thin 모드와 thick 모드 지원
    - thin 모드 : 서버에 Oracle Client가 없어도 됨
      - DB Startup/Stop, TAF기능사용, BFILE Type 지원, 21c JSON Data Type 지원, 2PC 등의 기능을 사용할 수 없음
    - thick 모드 : 서버에 Oracle Client가 있어야 됨

  - oracledb.init_oracle_client()가 들어가면 thick 모드로 동작
  
<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_python-oracledb-arch.png" width=40%><br><font size=1>참고 : https://cx-oracle.readthedocs.io</font>
</center><br>

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_python-oracledb-arch2.png" width=40%><br><font size=1>참고 : https://cx-oracle.readthedocs.io</font>
</center>

- 라이브러리 설치

In [ ]:
!pip install cx_Oracle

Collecting cx_Oracle
  Using cached cx_Oracle-8.3.0.tar.gz (363 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: cx_Oracle
  Building wheel for cx_Oracle (pyproject.toml): started
  Building wheel for cx_Oracle (pyproject.toml): finished with status 'done'
  Created wheel for cx_Oracle: filename=cx_Oracle-8.3.0-cp311-cp311-win_amd64.whl size=223100 sha256=eab39fd3a24c2e36d661ccb40a3606a805ccf85739205b3e0a8e4c9ef4399e31
  Stored in directory: c:\users\smhrd\appdata\local\pip\cache\wheels\e0\41\f9\63e9c4d1ec7b2e8faffc1d6f3219c2e168c306b042d77e2b6f
Successfully built cx_Oracle
Installing collected packages: cx_Oracle
Successfully installed cx_Oracle-8.3.0

- 오라클 접속하기

In [ ]:
import cx_Oracle

un = "test_user_kang"
pw = "test_user_kang"
dsn = "project-db-campus.smhrd.com:1524/xe"

# DB에 연결
try :
    conn = cx_Oracle.connect(un, pw, dsn)
except cx_Oracle.DatabaseError as e :
    prnt(e)

## DPI-1047: Cannot locate a 64-bit Oracle Client library 오류가 뜨는 경우

- Windows
  - https://www.oracle.com/database/technologies/instant-client/winx64-64-downloads.html 에서 오라클 클라이언트 라이브러리를 다운로드
  - 압축을 해제하고 C/IC21 폴더로 instantclient_xx_xx 폴더를 이동

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_python-cxoracle_window.png" width=50%>
</center>  

- Linux
  - https://www.oracle.com/database/free/get-started/ 에서 오라클 클라이언트 라이브러리를 다운로드
   - 설정 : https://docs.oracle.com/en/database/oracle/oracle-database/23/lacli/install-instant-client-using-zip.html#GUID-D3DCB4FB-D3CA-4C25-BE48-3A1FB5A22E84

<center>  
<img src="https://arome1004.cafe24.com/images/python_db/lecture_image/001_python-cxoracle_linux.png" width=50%>
</center>

- 오라클 instant client 등록

In [ ]:
cx_Oracle.init_oracle_client(lib_dir=r"C:\IC21\instantclient_21_11")

In [ ]:
import cx_Oracle

# Oracle DB 접속 정보 (아이디/패스워드)
username = 'test_user_kang'
password = 'test_user_kang'
# Oracle DB 서버 주소와 포트
dsn = 'project-db-campus.smhrd.com:1524/xe'

# Oracle DB에 연결
try:
    conn = cx_Oracle.connect(username, password, dsn)
except cx_Oracle.DatabaseError as e:
    print("error ", e)

# 데이터 입력, 수정, 삭제, 검색

- 커서 객체 생성하기

In [ ]:
# 데이터를 송수신하는 역할
# DB로는 sql문을 전송, DB에서 반환된 값을 받아온다
cursor = conn.cursor()

- 테이블 생성하기

In [ ]:
# 테이블 생성 쿼리
query = """create table arome_tbl (
    code varchar(10) primary key,
    name varchar(10) not null,
    age integer not null)"""

try :
    # 쿼리문을 DB로 보내서 실행
    cursor.execute(query)
    # 실행 확인
    conn.commit()
except cx_Oracle.DatabaseError as e :
    print(e)

ORA-00955: name is already used by an existing object

- 생성한 테이블 목록보기

In [ ]:
query ="""select * from tabs"""

try :
    cursor.execute(query)
    # cursor로부터 실행된 전체 결과를 받아온다
    # fetchone() : 한 개의 결과만 받아온다
    row = cursor.fetchall()

    print(row)
except cx_Oracle.DatabaseError as e :
    print(e)

[('MEMBER_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 2, 5, 0, 0, 0, 32, 0, 0, '         1', '         1', '    N', 'ENABLED', 2, datetime.datetime(2023, 10, 23, 22, 0, 4), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('JHJ_TABLE', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('MINGLY_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('AROME_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('JIHO_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('EUNYOUNG_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('SHJ_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('TEST1_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('JSGED_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('PSH_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('JINEW_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('HYUK1', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('JUMYEONG_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('DAEUN_DB', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('BOMIGO_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('JINGYU_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('SEO_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('JG_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('SUBIN_TB', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('HS_TABLE', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('NULLYNULLY_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('KYS_TB', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('GH_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', None, None, None, None, None, None, None, None, '         1', '         1', '    N', 'ENABLED', None, None, 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'NO', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('PHONE_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 1, 5, 0, 0, 0, 17, 0, 0, '         1', '         1', '    N', 'ENABLED', 1, datetime.datetime(2023, 10, 25, 22, 0, 9), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('ADMIN_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 2, 5, 0, 0, 0, 20, 0, 0, '         1', '         1', '    N', 'ENABLED', 2, datetime.datetime(2023, 10, 30, 22, 0, 7), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT'), ('WORD_TBL', 'USERS', None, None, 'VALID', 10, None, 1, 255, 65536, 1048576, 1, 2147483645, None, None, None, 'YES', 'N', 9, 5, 0, 0, 0, 19, 0, 0, '         1', '         1', '    N', 'ENABLED', 9, datetime.datetime(2023, 10, 25, 22, 0, 9), 'NO', None, 'N', 'N', 'NO', 'DEFAULT', 'DEFAULT', 'DEFAULT', 'DISABLED', 'YES', 'NO', None, 'DISABLED', 'YES', None, 'DISABLED', 'DISABLED', None, 'NO', 'NO', 'YES', 'DEFAULT')]

- DB에 데이터 저장하기

In [ ]:
# 데이터를 입력
code = input("코드 입력 : ")
name = input("이름 입력 : ")
age = int(input("나이 입력 : "))

# 입력된 데이터를 딕셔너리로 변환
input_data = {"code":code, "name":name, "age":age}

# 딕셔너리 값들을 쿼리문에 삽입
query = "insert into arome_tbl values(:code, :name, :age)"

try :
    cursor.execute(query, input_data)
    conn.commit()

    # 잘 동작했는지 확인
    if cursor.rowcount != 0 :
        print("입력 완료")
    else :
        print("입력 실패")
except cx_Oracle.DatabaseError as e :
    print(e)

코드 입력 : A003
이름 입력 : 성춘향
나이 입력 : 20
입력 완료

- DB에서 원하는 테이블의 전체 데이터 가져오기

In [ ]:
query = "select * from arome_tbl"

try :
    cursor.execute(query)
    row = cursor.fetchall()

    display(row)
except cx_Oracle.DatabaseError as e :
    print(e)

- DB에서 원하는 테이블의 데이터를 키워드로 검색하기

In [ ]:
code = input("검색코드 입력 : ")

input_data = {"code":code}

query = "select * from arome_tbl where code=:code"

try :
    cursor.execute(query, input_data)
    row = cursor.fetchone()

    print(row)
except cx_Oracle.DatabaseError as e :
    print(e)

검색코드 입력 : A002
('A002', '마당쇠', 50)

- 데이터 변경하기

In [ ]:
code = input("변경할 코드 : ")
name = input("변경할 이름 : ")
age = int(input("변경할 나이 : "))

query = f"update arome_tbl set name='{name}', age={age} where code='{code}'"

try :
    cursor.execute(query)
    conn.commit()
except cx_Oracle.DatabaseError as e :
    print(e)

변경할 코드 : A001
변경할 이름 : 홍말동
변경할 나이 : 10

- 데이터 삭제하기

In [ ]:
code = input("삭제할 코드 입력 : ")

input_data = {"code":code}

query = "delete from arome_tbl where code=:code"

try :
    cursor.execute(query, input_data)
    conn.commit()

    if cursor.rowcount !=0 :
        print("삭제 완료")
    else :
        print("삭제 실패")
except cx_Oracle.DatabaseError as e :
    print(e)

삭제할 코드 입력 : a
삭제 완료

- DB 접속 종료

In [ ]:
cursor.close()
conn.close()

# DB 연동 기능을 모듈로 만들기

- 모듈 : 함수들을 모아논 패키지 -> 재사용, 유지보수가 용이

- %%writefile : 다음 줄의 내용들을 해당 파일로 저장

In [ ]:
%%writefile ./DB_Control.py
import cx_Oracle

# DB 접속 함수
# username : 아이디, password : 암호, dsn : 접속주소
def db_conn(username, password, dsn) :
    try :
        conn = cx_Oracle.connect(username, password, dsn)
        cur = conn.cursor()

        print("DB 접속")
        return conn, cur
    except cx_Oracle.DatabaseError as e :
        print(e)

# DB 연결 종료 함수
# cur : 현재 커서 객체, conn : 현재 연결 객체
def db_disconn(conn, cur) :
    cur.close()
    conn.close()
    print("DB 접속 종료")

# DB에 데이터를 저장하는 함수
# t_name : 테이블명, col_dic : 컬럼명 딕셔너리
def insertData(conn, cur, t_name, col_dic) :
    # 딕셔너리의 키 값을 받아서 query문을 만들어 준다
    # col_dic -> {"code":code, "name":name, "age":age}
    #   -> insert into arome_tbl values (:code,:name,:age)
    query = f"insert into {t_name} values ("

    # insert into arome_tbl values (:code,:name,:age,
    for key in col_dic.keys() :
        query += f":{key},"

    # insert into arome_tbl values (:code,:name,:age
    # 가장 오른쪽에 있는 컴머를 제거
    query = query.rstrip(",")

    # insert into arome_tbl values (:code,:name,:age)
    query += ")"

    try :
        cur.execute(query, col_dic)
        conn.commit()

        if cur.rowcount != 0 :
            print("저장완료")
        else :
            print("저장실패")
    except cx_Oracle.DatabaseError as e :
        print(e)

# DB에서 해당 테이블의 전체 데이터를 검색하는 함수
def searchAllData(cur, t_name) :
    query = f"select * from {t_name}"

    try :
        cur.execute(query)
        row = cur.fetchall()

        return row
    except cx_Oracle.DatabaseError as e :
        print(e)

# DB에서 해당 테이블의 하나의 데이터를 검색하는 함수
# s_key : 검색할 컬럼명, s_value : 검색할 컬럼의 값
def searchData(cur, t_name, s_key, s_value) :
    query = f"select * from {t_name} where {s_key}='{s_value}'"

    try :
        cur.execute(query)
        row = cur.fetchone()

        return row
    except cx_Oracle.DatabaseError as e :
        print(e)

def searchData2(cur, t_name, s_key1, s_value1, s_key2, s_value2) :
    query = f"select name from {t_name} where {s_key1}='{s_value1}' and {s_key2}='{s_value2}'"

    try :
        cur.execute(query)
        row = cur.fetchone()

        return row
    except cx_Oracle.DatabaseError as e :
        print(e)

# DB에서 해당 테이블의 데이터를 수정하는 함수
# s_key : 수정할 컬럼명 (primary key인 컬럼)
def updateData(conn, cur, t_name, s_key, s_value, col_dic) :
    # update arome_tbl set
    query = f"update {t_name} set "

    # update arome_tbl set name=:name,age=:age,
    for key in col_dic.keys() :
        query += f"{key}=:{key},"

    # update arome_tbl set name=:name,age=:age
    query = query.rstrip(",")

    # update arome_tbl set name=:name,age=:age where code='code값';
    query += f" where {s_key}='{s_value}'"

    try :
        cur.execute(query, col_dic)
        conn.commit()

        if cur.rowcount != 0 :
            print("변경 완료")
        else :
            print("변경 실패")
    except cx_Oracle.DatabaseError as e :
        print(e)

# DB에서 해당 테이블의 데이터를 삭제하는 함수
def deleteData(conn, cur, t_name, s_key, s_value) :
    query = f"delete from {t_name} where {s_key}='{s_value}'"

    try :
        cur.execute(query)
        conn.commit()

        if cur.rowcount != 0 :
            print("삭제 완료")
        else :
            print("삭제 실패")
    except cx_Oracle.DatabaseError as e:
        print(e)

Overwriting ./DB_Control.py

- 모듈 호출

In [ ]:
# * : 해당 모듈에 포함된 모든 함수를 다 가져오겠다
import DB_Control as dc

username = "test_user_kang"
password = "test_user_kang"
dsn = "project-db-campus.smhrd.com:1524/xe"

conn, cur = dc.db_conn(username, password, dsn)

DB 접속

- DB에 데이터 저장하기

In [ ]:
code = input("코드 입력 : ")
name = input("이름 입력 : ")
age = int(input("나이 입력 : "))

input_data = {"code":code, "name":name, "age":age}

dc.insertData(conn, cur, "arome_tbl", input_data)

코드 입력 : A300
이름 입력 : 마동석
나이 입력 : 45
저장완료

- 전체 데이터 검색

In [ ]:
row = dc.searchAllData(cur, "arome_tbl")

print(row)

[('a15', '읻', 56), ('005', 'ha', 20), ('liv_18', 'CODY GAKPO', 24), ('A666', '김민경', 99), ('liv9', 'darwin', 14), ('A002', '마당쇠', 50), ('A003', '성춘향', 20), ('A300', '마동석', 45), ('ddd', 'ddd', 5)]

- code값으로 검색

In [ ]:
code = input("코드 입력 : ")

row = dc.searchData(cur, "arome_tbl", "code", code)

print(row)

코드 입력 : ddd
('ddd', 'ddd', 5)

- 데이터 갱신

In [ ]:
code = input("변경할 코드 입력 : ")
name = input("변경할 이름 입력 : ")
age = int(input("변경할 나이 입력 : "))

input_data = {"name":name, "age":age}

dc.updateData(conn, cur, "arome_tbl", "code", code, input_data)

변경할 코드 입력 : ddd
변경할 이름 입력 : 아무나
변경할 나이 입력 : 300
변경 완료

In [ ]:
# 변경된 결과 확인
row = dc.searchData(conn, cur, "arome_tbl", "code", code)
print(row)

('ddd', '아무나', 300)

- 데이터 삭제

In [ ]:
code = input("삭제할 코드 입력 : ")

dc.deleteData(conn, cur, "arome_tbl", "code", code)

row = dc.searchAllData(conn, cur, "arome_tbl")

print(row)

삭제할 코드 입력 : liv_18
삭제 완료
[('A002', '마당쇠', 50), ('A003', '성춘향', 20), ('A300', '마동석', 45)]

- DB 접속 종료

In [ ]:
dc.db_disconn(conn, cur)

DB 접속 종료

# 메뉴 만들기

In [ ]:
import DB_Control as dc

print("="*40)
print("고객 관리 프로그램")
print("="*40)

while True :
    menu = input("[1]연결 [2]입력 [3]전체검색 [4]키검색 [5]수정 [6]삭제 [0]종료")

    if menu == "1" :
        username = "test_user_kang"
        password = "test_user_kang"
        dsn = "project-db-campus.smhrd.com:1524/xe"

        conn, cur = dc.db_conn(username, password, dsn)
    elif menu == "2" :
        code = input("코드 입력 : ")
        name = input("이름 입력 : ")
        age = int(input("나이 입력 : "))

        input_data = {"code":code, "name":name, "age":age}

        dc.insertData(conn, cur, "arome_tbl", input_data)
    elif menu == "3" :
        row = dc.searchAllData(conn, cur, "arome_tbl")

        print(row)
    elif menu == "4" :
        code = input("코드 입력 : ")

        row = dc.searchData(conn, cur, "arome_tbl", "code", code)

        print(row)
    elif menu == "5" :
        code = input("변경할 코드 입력 : ")
        name = input("변경할 이름 입력 : ")
        age = int(input("변경할 나이 입력 : "))

        input_data = {"name":name, "age":age}

        dc.updateData(conn, cur, "arome_tbl", "code", code, input_data)
    elif menu == "6" :
        code = input("삭제할 코드 입력 : ")

        dc.deleteData(conn, cur, "arome_tbl", "code", code)
    elif menu == "0" :
        dc.db_disconn(conn, cur)
        break

========================================
고객 관리 프로그램
========================================
[1]연결 [2]입력 [3]전체검색 [4]키검색 [5]수정 [6]삭제 [0]종료1
DB 접속
[1]연결 [2]입력 [3]전체검색 [4]키검색 [5]수정 [6]삭제 [0]종료2
코드 입력 : B100
이름 입력 : 김유신
나이 입력 : 50
저장완료
[1]연결 [2]입력 [3]전체검색 [4]키검색 [5]수정 [6]삭제 [0]종료3
[('B100', '김유신', 50), ('A002', '마당쇠', 50), ('A003', '성춘향', 20), ('A300', '마동석', 45)]
[1]연결 [2]입력 [3]전체검색 [4]키검색 [5]수정 [6]삭제 [0]종료4
코드 입력 : B100
('B100', '김유신', 50)
[1]연결 [2]입력 [3]전체검색 [4]키검색 [5]수정 [6]삭제 [0]종료5
변경할 코드 입력 : B100
변경할 이름 입력 : 김유신
변경할 나이 입력 : 60
변경 완료
[1]연결 [2]입력 [3]전체검색 [4]키검색 [5]수정 [6]삭제 [0]종료3
[('B100', '김유신', 60), ('A002', '마당쇠', 50), ('A003', '성춘향', 20), ('A300', '마동석', 45)]
[1]연결 [2]입력 [3]전체검색 [4]키검색 [5]수정 [6]삭제 [0]종료6
삭제할 코드 입력 : B100
삭제 완료
[1]연결 [2]입력 [3]전체검색 [4]키검색 [5]수정 [6]삭제 [0]종료3
[('A002', '마당쇠', 50), ('A003', '성춘향', 20), ('A300', '마동석', 45)]
[1]연결 [2]입력 [3]전체검색 [4]키검색 [5]수정 [6]삭제 [0]종료0
DB 접속 종료